:root {
  --gap: 15px;
  --gap-sm: 10px;
  --gap-lg: 30px;
  
  --radius: 6px;

  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
   --secondary: oklch(0.967 0.001 286.375);
   --secondary-foreground: oklch(0.21 0.006 285.885);
   --border-color: #e4e4e4;

  --red: #f44336;
  --gray-text: #333;
  --gray: #f0f0f0;

}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--primary);
}

.primary-text-color {
  color: var(--primary);
}

.underline {
  text-decoration: underline !important;
}