.container {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: var(--radius);
  font-weight: 900;
  color: #000;

  padding: var(--gap) calc(var(--gap) * 1.8);

  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;

  line-height: 1.4;
  border-radius: var(--btn-radius);

  &:active {
    transform: scale(0.96);
  }

  &:hover {
    //background-color: var(--functional-success-bg);
  }

  &.margin {
    margin: var(--gap) 0;
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.huge {
    @media (min-width: 768px) {
      padding: 0.8rem 2rem;
      font-size: 1.3rem;
    }
  }

  box-sizing: border-box;

  &.fluid {
    width: 100%;
  }

  &.centered {
    display: block;
    margin: 20px auto;
  }

  &.white {
    background-color: #fff;
    color: #000;
    &.inverted {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }


  &.yellow {
    background-color: var(--yellow);
    //color: var(--main-color);
    &.inverted {
      //background-color: transparent;
      //color: var(--yellow);
      //border: 1px solid var(--yellow);
    }
  }

  &.main {
    background-color: var(--primary);
    color: #fff;
    &.inverted {
      background-color: transparent;
      color: var(--primary);
      border: 1px solid var(--primary);
      background-color: #fff;
    }

    &.soft {
      color: var(--main-color);
      background-color: var(--magenta-magenta-50);
    }
  }

  &.small {
    font-size: 14px;
    padding: var(--gap-small) var(--gap-default);
  }

  &.micro {
    padding: 2px 12px;
    font-size: 12px;
  }

  &[hidden] {
    display: none;
  }

  &.content-center {
    justify-content: center;
  }

  &.outline {
    
  }

  &.text-normal {
    font-weight: 400;
  }

  &.text-small {
    font-size: 14px;
  }

  &.text-left {
    text-align: left;
  }

  &.center {
    margin: 0 auto;
  }
  &.no-padding {
    padding: 0;
  }

  &.pointer-none {
    pointer-events: none;
  }
}
